---
layout: page
title: Configuration
footer: false
exclude_from_search: true
---

<div id="blog-archives">
  {% for post in site.posts reverse %}
  {% capture this_dir %}{{ post.dir | dir: "configuration" }}{% endcapture %}
  {% unless conf == this_dir %}
    {% assign conf = this_dir %}
    <h2 id="{{year}}"">{{ year }}</h2>
  {% endunless %}

  <article>
    <div class="content-container">
      <a href="{{ root_url }}{{ post.url }}">
        <b>{{post.title}}</b> -
        {% assign author_key = post.author %}
        {% for key in author_key %}
          {% assign author = site.authors[key] %}
          {% if author %}
              <span class="byline author vcard"><a href ="/author/{{key}}">{{ author.name }}<a/></span>
          {% endif %}
        {% endfor %}
      </a>
    </div>
  </article>

  {% endfor %}
</div>
<div style="clear:both;"></div>
